# temp files
*.swp
*~
*.lock

# ignore compiled java classes and binary folders
offworld-android/bin/
offworld-desktop/bin/
*.class

# eclipse stuff
.metadata/

# error logs
*.log

# screenshots
screenshots/
